h1 {
  padding: 15px;
  font-size: 35px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

#temperature {
  position: relative;
  float: center;
  font-size: 50px;
  font-weight: normal;
}
#main-icon {
  margin-bottom: 30px;
}
#date {
  text-align: center;
  list-style: none;
  margin: 3;
  padding: 0;
  font-size: 18px;
  line-height: 10px;
}
.container {
  max-width: 600px;
  opacity: 0.9;
  background-color: #e4e6f2;
  margin-top: 100px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 30px;
}

.main-weather {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.time {
  position: relative;
  float: right;
  font-size: 15px;
}

#dayOfWeek {
  position: relative;
  float: right;
  font-size: 15px;
}

.extra-info {
  float: right;
  list-style: none;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: black;
}
.sun-update {
  position: relative;
  float: right;
}
p {
  text-align: center;
}

.celsius {
  font-size: 17px;
  float: center;
  text-decoration: none;
  color: black;
}
.celsius:hover {
  color: black;
}

#forecast {
  padding: 5px;
  border-radius: 5px;
}

.weather-forecast {
  margin: 20px auto;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-temp {
  font-size: 18px;
}
.max {
  font-weight: bolder;
}
.linkToCode {
  text-align: center;
  margin: auto;
  display: block;
  color: white;
}
.myName {
  text-align: center;
  margin: auto;
  display: block;
}
