.container {
  max-width: 600px;
  position: center;
}
h1 {
  padding: 15px;
  font-size: 35px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}
#temperature {
  position: relative;
  float: center;
  font-size: 50px;
  font-weight: 100;
}

#date {
  text-align: center;
  list-style: none;
  margin: 3;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 10px;
}

.main-weather {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.time {
  position: relative;
  float: right;
  font-size: 15px;
}

#dayOfWeek {
  position: relative;
  float: right;
  font-size: 15px;
}

.extra-info {
  float: right;
  list-style: none;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  padding-top: 1px;
}
.sun-update {
  position: relative;
  float: right;
}
p {
  text-align: center;
}

.celsius {
  font-size: 14px;
  float: center;
}

.fahren {
  font-size: 14px;
  float: center;
}
#forecast {
  padding: 5px;
  border-radius: 5px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}

body {
  margin: 30px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 500px;
}

.linkToCode {
  text-align: center;
  margin: auto;
  display: block;
}

.weather .active {
  color: black;
  cursor: default;
}

.weather .active:hover {
  text-decoration: none;
}
